---
layout: default
---
<!-- <a class="link" href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a> -->

<header>
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.blog_entries %}
    <div class="dashed"></div>
  {% endif %}
  
    <!-- <h1>{{ site.title }}</h1>
    {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
    {% endif %} -->
  </header>

<header>
  <h1>{{ site.theme_config.home.title_tech_blog }}</h1>
</header>

{% include blog_list.html %}

{% if site.theme_config.credits %}
  {% include credits.html %}
{% endif %}