---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <!-- <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %} -->
</header>

{{ content }}


<!-- {% if site.theme_config.show_study_group == true %}
  <h2>{{ site.theme_config.home.title_study_group }}</h2>
  {% include post_list.html %}
{% endif %} -->

<!-- {% if site.theme_config.show_study_group == true %}
  <h2>{{ site.theme_config.home.title_study_group }}</h2>
  {% include post_list.html %}
{% endif %} -->

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_tech_blog }}</h2>
    {% for post in site.posts %}
      {% if post.tags contains 'blog' %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {%  endif %}  
    {% endfor %}
{% endif %}


{% if site.theme_config.show_study_group == true %}
  <h2>{{ site.theme_config.home.title_study_group }}</h2>
    {% for post in site.posts %}
      {% if post.tags contains 'study' %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {%  endif %}  
    {% endfor %}
{% endif %}



<!-- {% if page.tags %}
  
  {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% if tag contains "study" %}
    
    {% endif %}
  {% endfor %}
{% endif %} -->

<!-- {% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include blog_list.html %}
{% endif %} -->

<!-- {% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %} -->

<!-- {% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %} -->


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
